  html{
     scroll-behavior: smooth;  
  }
  .site-content{
    max-width: 100%;
    overflow: hidden;
  }
  
  .all-works{
    background-color:#006699;
    padding-top: 5em;
  }

  .service-description h3{
    font-size: 1em;
    font-weight: 900;
  }

  .desktop{
    display: none;
  }

  .desktop-header{
    display: none;
  }

  .landing_bg{
    display: none;
  }

  .desktop-banner img{
    display: none;
  }


@media only screen and (min-width: 300px) {

  p{
    font-size: 1em;
  }

  
  h1, h2 {
    font-size: 2em;
  }

  h3, h4, h5, h6{
    font-size: 1.2em;
  }

  .top-banner{
    height: 50vh;
    background-color: #666666;

    img{
      width: 50%;
      display: flex;
      margin: auto;
      padding-top: 30%;
    }
  }

}


@media only screen and (min-width: 400px){

   .about-logo {
        width: 40% !important;
        z-index: 999;
    }

  }



  // DESKTOP

@media only screen and (min-width: 768px){

  
  .landing_bg{
    display: block;
  }

  .desktop-banner img{
    display: block;
  }
  .desktop{
    display: block;
    position: relative;
    }
  
    .desktop-header{
      display: block;
    }

  .mobile{
    display: none;
  }


  
  .top-banner{
    display: none;
  }

  .landing-page{
    height: 100vh;
    width: auto;
    position: relative;
    z-index: -999;
  }

  .desktop-logo img{
    z-index: 999999;
    position: absolute;
    top: 30%;
    width: 31%;
    left: 0;
}
  

  .header_bg{
    width: 100%;
    height: auto;
    // position: relative;
    // z-index: -99999;
  }

  .desktop-banner{
    background-color: #006699;
    width: 35%;
    height: 100vh;
    top: 0;
    // position: fixed;
    left: 0;
    z-index: -1;

    img{
      padding-top: 25vh;
      width: 50%;
      margin: auto;
    }
  }

  

  .main-navigation{
    position: absolute;
    z-index: 9999;
    top: 20%;
    width: 100%;
  }

  
  .menu-menu-1-container{
    width: 50%;
    margin-left: 42%;
    
  }

#primary-menu {
    >li {
        border: 2px solid white;
        padding: 1em;
        a {
            color: white;
        }
        & {
            background-color: #00000021 !important;
            opacity: 5;
       
        }
    }
}



  .landing_bg {
    position: absolute;
    top: 0;
    z-index: -9;

      img{
        height: 100vh;
        width: 100vw;
}
} 

  .hipcreation-brief{
    h3{
      font-size: 1.5em;
      text-align: center;
      padding: 2em;
    }
  }
  .about-brief{
  
    h3{
      font-size: 1.2em;
      text-align: center;
      padding: 2em;
    }
  }

  .about-us:before{
      content:""; /*kosong, for it to exist*/
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh; /*dimension of the shape*/
      position: absolute;
      top: 0;
      width: 100vw; /*dimension of the shape*/
      z-index: -1;

  }
  .about-us{
    padding-top: 0;

     .about-bg img{
        z-index: -5;
        left: 0;
        height: 100vh;
        width: 100vw;
  
      }


      .back-top{
        width: 3em;
        right: 2em;
        img{
            width: 4em;
            height: auto;
            margin-top: 86vh;
            right: 1.5em;
            position: fixed;
            z-index: 999999;
            opacity: .5;
        }
      }

      h3, h4{
        font-size: 1.5em;
      }

      .about-description{
        background-color: rgba(255, 255, 255, 0)!important;
          width: auto;
          // position: absolute;
          // top: 0 auto;
          // z-index: 10;
          border: 1px solid white;
          // margin-left: 35%;
          // top: 7%;
              position: absolute;
            top: 10%;
            margin-left: 19%;
            text-align: center;
         
      }
     

      img{
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100vh;
        width: 100vw;
        // background: linear-gradient(
        //              rgba(20,20,20, .5), 
        //              rgba(20,20,20, .5));
      }

    .about-logo{
      position: absolute;
      left: 0;
      width: 30%;
      z-index: 10;
      margin-top: 2em;
      img{
        width: 70%;
      }
    }     


}

      .about-nessie:before{
      content:""; /*kosong, for it to exist*/
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh; /*dimension of the shape*/
      position: absolute;
      top: 0;
      width: 100vw; /*dimension of the shape*/
      z-index: -1;

  }
  
    .about-nessie{
      position: relative;
      z-index: 1;

        img{
          width: 20%;
        }
        
          h2{
            text-align: center;
          }

          p{
            font-size: 1.5em;
          }

        .about-nessie-bg img{
            position: absolute;
            top: 0%;
            height: 100vh;
            width: 100vw;
            z-index: -5;
        }
        .about-nessie-info{
            position: absolute;
            top: 10%;
            margin-left: 40%;
            text-align: center;

        }
        .about-nessie-content{
          border: 1px solid white;
          width: 90%;
          margin: 30px 0px;
          padding: 2em;

        }
    }

      .about-tim:before{
      content:""; /*kosong, for it to exist*/
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh; /*dimension of the shape*/
      position: absolute;
      top: 0;
      width: 100vw; /*dimension of the shape*/
      z-index: -1;

  }

    .about-tim{
      position: relative;
      z-index: 1;

          h2{
            text-align: center;
          }

          p{
            font-size: 1.5em;
          }


        .about-tim-img img{
          width: 20%;
          height: auto;
          margin: auto;
        }
        .about-tim-bg img{
            position: absolute;
            top: 0%;
            height: 100vh;
            width: 100vw;
            z-index: -5;
        }
        .about-tim-info{
            position: absolute;
            top: 10%;
            margin-left: 40%;
            text-align: center;

        }
        .about-tim-content{
          border: 1px solid white;
          width: 90%;
          margin: 30px 0px;
          padding: 2em;
        }
    }

    .service-mobile{
      display: none;
    }

      .service:before{
      content:""; /*kosong, for it to exist*/
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh; /*dimension of the shape*/
      position: absolute;
      top: 0;
      width: 100vw; /*dimension of the shape*/
      z-index: -1;

  }

    .service{
   
        position: relative;
        z-index: 1;
        height: 100vh;
        width: 100vw;
      
  
      .service-bg img{
            position: absolute;
            height: 100vh;
            width: 100vw;
            top:0;
            z-index: -5;
          }
.service-content{
        position: absolute;
        top: 12%;
        margin-left: 38%;
        width: 60%;
        text-align: center;
      }
     
  }


  
.service {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    color: #fff;
    
    .service-brief{
      h3{
        font-size: 1.2em;
        text-align: center;
        padding: 2em;
      }
    }
    
    .services-title-section {
        background-color: rgba(0, 0, 255, 0);
        padding: 30px 15px;
        width: 75%;
    }

    .service-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .service-description {

            h3{
              font-size: 2em;
            }
            p{
              font-size: 1.3em;
            }
            width: 45%;
            $border: 2px solid white;
            padding: 20px;
            &:first-child {
                border-bottom: $border;
                border-right: $border;
            }
            &:last-child {
                border-top: $border;
                border-left: $border;
                padding-left: 20px
            }
        }
    }
}

  .work:before{
      content:""; /*kosong, for it to exist*/
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh; /*dimension of the shape*/
      position: absolute;
      top: 0;
      width: 100vw; /*dimension of the shape*/
      z-index: -1;

  }

.work{
  position: relative;
  z-index: 1;

  
    .work-brief{
      h3{
        font-size: 1.2em;
        text-align: center;
        padding: 2em;
      }
    }

    .all-works{
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
   
    
    .the-work{
      height: 50%;
      padding: 1em;


      
    .work-image {
             height: 30vh;
        width: auto;
        overflow: hidden;
        img{
        height: 30vh;
        width: 100%;
        
    }
}

      .work-info{
        display: none;
      }
    }


  }

  .work-content{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 60%;
    margin-left: 38%;

    
  }
 .work-bg {
      img{
      position: absolute;
      z-index: -10;
      top: 0;
      width: 100vw;
      height: 100vh;
    }
  }

}



    }
    // end of @media 768px
 
  